  {% set bgImg = entry.styleOneBgImage.one() %}
    <div class="dark flex-wrap bg-img-svg style-one pad-top" style="background-image: url('{{ bgImg.getUrl() }}');">
      <div class="half pad-all just-cont-between">
        {% if entry.styleOneTitle %}
            <h1>{{entry.styleOneTitle}}</h1>
        {% endif %}
      
        <div>
          {% if entry.styleOneText %}
            {{entry.styleOneText}}
          {% endif %}

          {% include '_partials/button.twig' %}
        </div>
      </div>

      <div class="half pad-sides pad-top img-align-end">
        {% set imageOne = entry.styleOneImage.one() %}
        {% if imageOne %}
          <img src="{{ imageOne.getUrl() }}" alt="{{ imageOne.alt}}">
        {% endif %}
      </div>
    </div>